/* Reset some basic styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: hsl(220, 5%, 88%);
    color: #212529;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .cover-photo {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a7ffc;
    color: white;
    text-shadow: 10px 10px 25px rgba(0, 0, 0, 0.7);
    position: relative;
    flex-direction: column;
  }
  
  .profile-pic {
    width: 170px;
    height: 170px;
    border-radius: 70%;
    object-fit: cover;
    margin-top: 20px;
  }
  
  .profile-name {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .profile-title {
    font-size: 1.1rem;
    color: #f1f1f1;
  }
  
  .section {
    margin-top: 40px;
  }
  
  .section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .section-content {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .skills-dropdown .dropdown-menu {
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .skills-dropdown .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  
  .hobby-img {
    border-radius: 10px;
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .hobby-img:hover {
    transform: scale(1.05);
  }
  
  .contact-info {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    margin: 0 10px;
    font-size: 24px;
    color: #007bff;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #0056b3;
  }
  
  .footer {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
  }
  